body {
  overflow: hidden;
  margin: 0;
}
.values{
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
}
.values > span{
  color:white
}
#item {
  width: 35px;
  height: 35px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgba(136, 136, 136, .5);
  border-radius: 50%;
  touch-action: none;
  user-select: none;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
}
.canvas{
  display: block;
}