body {
  overflow: hidden;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chart-containers{
  width:300px;
  height:150px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.chart-container{
  width:300px;
  height:40px;
  border: 1px solid #2D2C2C;
}
.chart-x{
  width: 100%;
  height: 100%;
  background-color: lightblue;
}

.chart-y{
  width: 100%;
  height: 100%;
  background-color: lightcoral;
}

.chart-z{
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}
